body{
      background-color: #000;
      height: 100%;
      width: 100%;
      margin-bottom: 0px;
      overflow-y: hidden;
    }
    .bkgLogin{
      /*background-color: #E6E6E6;*/
      
      width: 100%;
        height: 100%;
        background-image: url(img/bkg_login.jpg); 
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        overflow-y: hidden;
        
    }
    .imgLogo{
      margin-top: 5%;
    }
    .login{
      margin-top: 5%;
      background-color: #000; 
      /*opacity: 0.5;*/
      border-radius: 8px;
      padding: 0px 10px 0px 10px;
      height: 250px;
      opacity:0.85;
      -moz-opacity: 0.85;
      -webkit-opacity: 0.85;
      filter: alpha(opacity=85);
      box-shadow: 0em 0em 0.5em 0.05em #000;
    }
    .center{
      text-align: center;
    }
    .h2{
      font-style: 
    }
    img {
        max-width:50%;
        height:auto;
    }
    .inptblk{
      background-color: #111; 
      border-radius: 15px;
      color: #AFAFAF;
      border: 0px;
      margin: 5px 0px 5px 0px;
      padding: 3px 10px 3px 10px;
      width: 85%;
      height: 30px;
      line-height: 1;
    }
    .btnLogin{
      border-radius: 30px;
      margin-top: 5px;
      background-color: #000!important;
      color: #111!important;
      border: 0px;
      font-size:18px;
    }
    .btnLogin:hover{
      color: #9C1C1C !important;
    }
    .tt{
      max-width:70%;
        height:70%;
    }
    .iLog{
      font-size: 16px;
    }